  /* GOOGLE FONTS */
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
  @import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Fascinate+Inline&family=Signika&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
    
  
  /* CSS RESET */
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body{
    background: linear-gradient(rgba(38, 103, 200, 0.749) 0%, rgba(125, 190, 251, 0.373) 100%);margin: 0px;
      padding: 0px;
      width: 100%;
  
  }
  body,
  html {
      font-family: 'Osward', sans-serif;  margin: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
  @import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
  
  
  
  .nav-8{
    background: linear-gradient(rgba(38, 103, 200, 0.749) 0%, rgba(125, 190, 251, 0.373) 100%);
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
  backdrop-filter: blur(5px);
  z-index: 1110;
  margin: 0%;
  }
  .nav-8 nav{
    float: right;
  width: 50%;
    height: 100%;
  display: flex;
  justify-content: space-evenly;
  
  }
  .nav-8 .linktext{
    font-size:1.5vmax;
    text-align:center;
    position:relative;
    z-index:2;
    color:#ffcc01;
    -webkit-text-stroke: black;
  -webkit-text-stroke-width: 1px;
    text-decoration:none;
    font-family: 'Oswald', sans-serif;  
    transition:0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
    transition-delay:0s;
    -webkit-transition-delay:0s;
  }
  .nav-8 .linktext:before, .nav-8 .linktext:after{
    opacity:0;
    position:absolute;
    top:34px;
    transform:translateY(36px);
    -webkit-transform:translateY(36px);
    left:0px;
    width:100%;
    transition:0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
    font-size:0.5em;
  }
  .nav-8 .linktext:before{
    content:'';
    height:2px;
    background:#236CCF;
    transition-delay:0s;
    -webkit-transition-delay:0s;
  }
  .nav-8 .linktext:after{
    padding-top: 2px;
    content:attr(data-text);
    color:#f9dfbc;
    transition-delay:0s;
    -webkit-transition-delay:0s;
    
  }
  .nav-8 .numeL{
    padding-left: 5px;
    width: 45%;
    font-family:'Black Ops One', 'Righteous', Arial, sans-serif;
    font-size: 2.3vmax;
    float: left;
    display: flex;
    align-items: center
  
  
  }
  
  
  .nav-8 .numeL img{
      width: 180px;
      padding-right: 35px;
  }
  .nav-8 .item{
    position:relative;
    display:inline-block;
    height:25px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:20px;
    background:transparent;
    transition:0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
    z-index:2;
    color:#007BFF;
    text-decoration:none;
    font-family:Arial, sans-serif;
    text-transform:uppercase;
    transition:0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
  }
  .nav-8 .item:hover .linktext{
    transform:scale(1.3);
    -webkit-transform:scale(1.3);
    transform:translateY(-26px);
    -webkit-transform:(-26px);
  }
  .nav-8 .item:hover .linktext:before{
    transition-delay:0s;
    -webkit-transition-delay:0s;
  }
  .nav-8 .item:hover .linktext:after{
    transition-delay:0.15s;
    -webkit-transition-delay:0.15s;
  }
  .nav-8 .item:hover .linktext:before, .nav-8 .item:hover .linktext:after{
    transform:translateY(16px);
    -webkit-transform:translateY(16px);
    opacity:1;
  }
  span{
    background: rgb(255,204,1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 2.5vmax;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
  
  }
  #menu1Toggle{ 
    display: none;
 }
  @media screen and (max-width: 800px) {
   
  #menium{
    display: none;
  }
  
  #menu1Toggle a{
  color: #000;
  }
  #menu1Toggle {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    top: 35px;
    left: 15px;
    z-index: 11000;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menu1Toggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menu1Toggle span
  {
    display: flex;
    width: 49px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menu1Toggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menu1Toggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menu1Toggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menu1Toggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menu1Toggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu1
  {
    font-size: x-large;
    position: absolute;
    width: 220px;
    height: 400px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -16px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu1 li
  {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menu1Toggle input:checked ~ ul
  {
    transform: none;
  }
  }
  #menu1Toggle {
    display: flex;
  }